html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  max-width: 67ch;
  margin: 2rem auto;
}

img {
  max-width: 100%;
  height: auto;
}
